@font-face {
    font-family: "Roboto";
    src: "D:\B3_Devops\MSPR1\styleText\Roboto-Light.ttf"; /*modfier en essayant de find un lien */
}

body {
    font-family: "Roboto", serif;
}

.encadrer-un-contenu{ border: 1px solid black; padding: 5px; }

.centre {
    text-align:center;
}

#image {
    position:relative;
}

.ribbon {
    position:absolute;
    top:0;
    right:0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
}

ul li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
ul li a:hover {
    background-color: #397EC1;
}

.active {
    background-color: #659224;
}